@font-face {
  font-family: "gilroy-bold";
  src: url("fonts/webfontkit/gilroy-bold-webfont.woff2") format("woff2"),
    url("fonts/webfontkit/gilroy-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-regular";
  src: url("fonts/webfontkit/gilroy-regular-webfont.woff2") format("woff2"),
    url("fonts/webfontkit/gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;

  @media (max-width: 1250px) {
    font-size: 50%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: gilroy-regular, sans-serif;
  color: white;
  text-align: center;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

p {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 6rem;
  margin: 0;
}

#landing {
  height: 100vh;
  background-color: #060039;
  text-align: center;
  display: grid;
  place-items: center;
  background-image: url("../images/pattern.svg");
  background-size: cover;

  svg {
    margin-top: -10%;
    margin-bottom: -20%;
  }

  svg text {
    font-family: gilroy-bold, sans-serif;
    font-size: 30rem;
    margin: 0;
    //line-height: 300px;

    stroke: white;
    stroke-width: 5;
    animation: textAnimation 1s linear, fillText 1s ease forwards 1s;
  }
}

@keyframes textAnimation {
  from {
    stroke-dasharray: 0 50%;
  }

  to {
    stroke-dasharray: 50% 0;
  }
}

@keyframes fillText {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

#about {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .about-title {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #4484ab;
  }

  .about-pages {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #060039;
    text-align: left;

    p {
      width: 90%;
    }
  }
}

#skills {
  height: 200vh;
  display: flex;

  @media (max-aspect-ratio: 10/7) {
    height: 100vh;
  }

  .skills-title {
    width: 50%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #da774a;
    margin: 0 !important;
  }

  .skills-pages {
    width: 50%;

    div {
      height: 100vh;
      display: grid;
      place-items: center;

      @media (max-aspect-ratio: 10/7) {
        height: 50vh;
      }

      &:nth-child(1) {
        background-color: #e53855;
      }

      &:nth-child(2) {
        background-color: #7252a4;
      }
    }
  }
}

#languages {
  height: 400vh;
  display: flex;

  @media (max-aspect-ratio: 10/7) {
    height: 200vh;
  }

  .languages-title {
    width: 50%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #7a4865;
    margin: 0 !important;
  }

  .languages-pages {
    width: 50%;

    div {
      height: 100vh;
      display: grid;
      place-items: center;

      @media (max-aspect-ratio: 10/7) {
        height: 50vh;
      }

      &:nth-child(1) {
        background-color: #fe5e33;
      }

      &:nth-child(2) {
        background-color: #137d9f;
      }

      &:nth-child(3) {
        background-color: #849c9b;
      }

      &:nth-child(4) {
        background-color: #60bebf;
      }
    }
  }
}

#projects {
  height: 800vh;
  display: flex;

  @media (max-aspect-ratio: 10/7) {
    height: 350vh;
  }

  .projects-title {
    height: 100vh;
    width: 50%;
    display: grid;
    place-items: center;
    background-color: #2e39a9;
    margin: 0 !important;
  }

  .projects-pages {
    width: 50%;
    color: black;

    .wrapper {
      height: 100vh;
      display: grid;
      grid-template-rows: 1fr 50px max-content;
      grid-template-areas: "image" "title" "desc";
      place-items: center;
      //border-bottom: 1px solid black;
      //padding: 0 30px;
      overflow: hidden;

      @media (max-aspect-ratio: 10/7) {
        height: 50vh;
      }

      &:nth-child(1) {
        background-color: #9fa3ae;
      }

      &:nth-child(2) {
        background-color: #bcc9b9;
      }

      &:nth-child(3) {
        background-color: #272734;
        color: white;

        img {
          height: 70rem;
          width: 100%;
        }
      }

      &:nth-child(4) {
        background-color: #89b2bb;
      }

      &:nth-child(5) {
        background-color: #d3cdc7;
      }

      &:nth-child(6) {
        background-color: #e0e0e0;
      }

      &:nth-child(7) {
        background-color: #d4d4d4;
      }

      &:nth-child(8) {
        background-color: #e8e4f3;
      }

      .image {
        height: 100%;
        width: 100%;
        grid-area: image;
        display: grid;
        place-items: center;

        img {
          width: 50vw;
          height: auto;
          transition: transform 1s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      h3 {
        grid-area: title;
        font-size: 4rem;
        margin: 0;
      }

      p {
        grid-area: desc;
        font-size: 2.5rem;
        padding: 0 15px;
        padding-bottom: 4rem;
        margin: 0;
        text-align: center;
      }

      &:nth-child(1) {
      }
    }
  }
}

#contact {
  height: 100vh;
  display: flex;

  .contact-title {
    height: 100vh;
    width: 50%;
    background-color: #463c74;
    display: grid;
    place-items: center;
    margin: 0 !important;
  }

  .contact-pages {
    height: 100vh;
    width: 50%;
    background-color: #26282b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
      text-decoration: none;
    }

    .social-button {
      height: 90px;
      width: 90px;
      border-radius: 50%;
      background: #26282b;
      box-shadow: 5px 5px 10px #0f1011, -5px -5px 10px #3d4045;
      transition: all 0.5s ease;
      display: grid;
      place-items: center;
      font-size: 40px;
      color: white;

      &:hover {
        background: linear-gradient(145deg, #1a1b1d, #292b2e);
      }
    }
  }
}
//
//@media (max-height: 825px) {
//
//  #projects{
//
//    .projects-pages{
//
//      .wrapper{
//
//        .image{
//
//          img{
//            height: 70vh;
//            width: auto;
//          }
//
//        }
//
//      }
//
//    }
//
//  }
//
//}

@media (max-width: 960px) {
  #landing {
    h1 {
      font-size: 10rem;
      line-height: 8rem;
    }

    p {
      font-size: 2.5rem;
    }
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 2.5rem;
  }

  #about {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;

    .about-title {
      //width: 100%;
      height: 10vh;
    }

    .about-pages {
      //width: 100%;
      height: 90vh;
    }
  }

  #skills {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 45vh 45vh;

    .skills-pages {
      width: 100%;

      div {
        height: 45vh;
      }
    }

    .skills-title {
      width: 100%;
      height: 10vh;
    }
  }

  #languages {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 45vh 45vh 45vh 45vh;

    .languages-title {
      width: 100%;
      height: 10vh;
    }

    .languages-pages {
      width: 100%;

      div {
        height: 45vh;
      }
    }
  }

  #projects {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh repeat(8, 45vh);
    margin-bottom: 90px;

    .projects-title {
      width: 100%;
      height: 10vh;
    }

    .projects-pages {
      width: 100%;
      border: none;

      .wrapper {
        height: 45vh;
        margin: 10px auto;
        border: none;
        border-radius: 10px;
        box-shadow: 15px 10px 30px rgba(0, 0, 0, 0.2);
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: end;

        h3 {
          font-size: 2.5rem;
          padding-bottom: 1rem;
        }

        p {
          font-size: 1.8rem;
          padding-bottom: 2rem;
        }

        .image {
          img {
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }

  #contact {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;

    .contact-title {
      width: 100%;
      height: 10vh;

      h2 {
        font-size: 2rem;
      }
    }

    .contact-pages {
      width: 100%;
      height: 90vh;
      display: grid;
      grid-template-rows: repeat(5, 1fr);

      p {
        font-size: 1.5rem;
      }

      .social-button {
        height: 70px;
        width: 70px;
        font-size: 30px;
      }
    }
  }
}
